# Removes logfiles
LogAnalyzer/tests/LDEL_test1/easy2umobilelog/easy2ulog.txt
LogAnalyzer/tests/LDEL_test1/easy2umobilelog/easy2uscript.txt
LogAnalyzer/tests/LDEL_test1/easy2umobilelog/easy2uresult.txt
LogAnalyzer/tests/LDEL_test1/easy2umobilelog/easy2uresultJSON.json